<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Would Bee</title>
</head>

<body>
  <form action="/telegram/register" method="POST">
    <label for="email">Name:</label><br>
    <input type="text" id="email" name="email"><br>
    <label for="phone">Last name:</label><br>
    <input type="text" id="phone" name="phone"><br><br>
    <input type="submit" value="Submit">
  </form>
  <br>
  {{ message }}
</body>

</html>