<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <script src="telegram-passport.js"></script>
  <script type="text/javascript">
    function onTelegramAuth(user) {
      alert('id: ' + user.id + ' Logged in as ' + user.first_name + ' ' + user.last_name + ' (' + user.id + (user.username ? ', @' + user.username : '') + ')');
    }
    function onTelegramAuthTwo(input) {
      console.log(input);
    }
  </script>
  <title>Would Bee</title>
</head>

<body>
  <form action="/telegram/register" method="POST">
    <label for="email">Email Id:</label><br>
    <input type="text" id="email" name="email"><br>
    <label for="phone">Phone number:</label><br>
    <input type="text" id="phone" name="phone"><br><br>
    <input type="submit" value="Submit">
  </form>
  <br>
  {{ message }}

  <div id="telegram_passport_auth"></div>

  {{!-- <script async src="https://telegram.org/js/telegram-widget.js?12" data-telegram-login="WouldBee_Bot"
    data-size="medium" data-onauth="onTelegramAuth(user)" data-request-access="write"></script> --}}

  <script>
    Telegram.Passport.createAuthButton('telegram_passport_auth', {
      bot_id: '@WouldBee_Bot', // place id of your bot here
      scope: { data: [{ type: 'id_document', selfie: true }, 'address_document', 'phone_number', 'email'], v: 1 },
      public_key: `-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA5rqyOOsT/ JkZq4AZUWiQ
J2adgO / 6x5jr1cE + IkDxrCaU + T1sruJT5nR1NXuKCtMgZ7a7CkvKeRGIg + fBY3Yd
HAspdO5 + 2lTr24I4HwYpuGMf6Kyk173 + hAEQlMJOZxsWVyZB9x3Ra / 5YU6a29rpK
l7CDmCstUcO7WhgX1iZGHWx + YKZmalayLiNw85BKCAzjutn6WQXkxaItOHBqWE2M
TAgPnCTe6TzQd21x7ESJIaAASFczBLmG4ifQt + BV6yQbDA4KXFRkCdg4kiIkq1Pi
2LEiVY5V48V2pFLLftD + RfvYsX0tu5KdlhIhHOAd5ebIFvA9 / UakW + UUO3wU2hMf
rwIDAQAB
----- END PUBLIC KEY----- `, // place public key of your bot here
      nonce: 'MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA5rqyOOsT', // place nonce here
    });
  </script>

</body>

</html>