html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.hero-section {
  background-image: url('./2caa14519fb4eb69f0b8bfeb35fe05fb.jpg');
  background-position: center 15%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  width: 100vw;
}

.page-container {
  height: 100%;
}

.logo {
  position: absolute;
  background-color: #dd2a6d;
  width: 260px;
  height: 100px;
}

.logo > div {
  margin-left: 25px;
  color: white;
  margin-top: -10px;
  font-size: 16px;
}

.logo-img {
  height: 70px;
}

.info {
  padding: 30px 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  text-align: center;
  border: 1px solid gray;
  margin-top: -20vh;
  background-color: white;
}

ol {
  text-align: center;
  list-style-position: inside;
  margin-top: 20px;
  padding-left: 0px;
}
.info-section {
  font-size: 40px;
}

.services-icons {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  margin-top: 40px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  background-color: #dd2a6d;
  text-align: center;
  color: white;
}

.quick-links > span {
  font-size: 29px;
}

.quick-links > span a {
  color: white;
  text-decoration: none;
}

.quick-links :not(:last-child)::after {
  content: '|';
  padding: 10px;
}

.font-opensans-regular {
  font-family: 'Open Sans';
  font-weight: 400;
}

.font-poppins-regular {
  font-family: 'Poppins';
  font-weight: 400;
}

.font-poppins-medium {
  font-family: 'Poppins';
  font-weight: 500;
}

@media (max-width: 600px) {
  .info {
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 0px;
    background-color: white;
    border: none;
  }
  .services-icons {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .subheading {
    font-size: 22px !important;
  }
  .heading {
    font-size: 24px !important;
  }
  .quick-links > span {
    font-size: 18px !important;
  }
  .logo > div {
    margin-left: 23px;
    color: white;
    margin-top: -10px;
  }
  .logo {
    position: relative;
    background-color: #dd2a6d;
    max-width: 100%;
    height: 100px;
  }
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.hero-section {
  background-image: url('./2caa14519fb4eb69f0b8bfeb35fe05fb.jpg');
  background-position: center 15%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  width: 100vw;
}

.page-container {
  height: 100%;
}

.logo {
  position: absolute;
  background-color: #dd2a6d;
  max-width: 230px;
  height: 100px;
}

.logo > div {
  margin-left: 25px;
  color: white;
  margin-top: -10px;
}

.logo-img {
  height: 70px;
}

.info {
  padding: 30px 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  text-align: center;
  border: 1px solid gray;
  margin-top: -20vh;
  background-color: white;
}

ol {
  text-align: center;
  list-style-position: inside;
  margin-top: 20px;
  padding-left: 0px;
}
.info-section {
  font-size: 40px;
}

.services-icons {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  margin-top: 40px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  background-color: #dd2a6d;
  text-align: center;
  color: white;
}

.quick-links > span {
  font-size: 29px;
}

.quick-links > span a {
  color: white;
  text-decoration: none;
}

.quick-links :not(:last-child)::after {
  content: '|';
  padding: 10px;
}

.font-opensans-regular {
  font-family: 'Open Sans';
  font-weight: 400;
}

.font-poppins-regular {
  font-family: 'Poppins';
  font-weight: 400;
}

.font-poppins-medium {
  font-family: 'Poppins';
  font-weight: 500;
}

@media (max-width: 600px) {
  .info {
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 0px;
    background-color: white;
    border: none;
  }
  .services-icons {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .subheading {
    font-size: 22px !important;
  }
  .heading {
    font-size: 24px !important;
  }
  .quick-links > span {
    font-size: 18px !important;
  }
  .logo > div {
    margin-left: 23px;
    color: white;
    margin-top: -10px;
  }
  .logo {
    position: relative;
    background-color: #dd2a6d;
    max-width: 100%;
    height: 100px;
  }
}

/*# sourceMappingURL=index.css.map*/
